* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.clr {
  clear: both;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 300vh;
  color: white;
  
}

a, button {
  cursor: pointer;
}
.container1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(/img/model3_01.jpg) center center/cover;
}

button#buy:hover {
  color: white;
  background-color: black;
}

.container2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(/img/model3_02.jpg) center center/cover;
  
}

.container3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(/img/model3_03.jpg) center center/cover;
  
}

nav.navbar {
  overflow: auto;
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: transparent;
}

.container1 .title {
  position:absolute;
  text-align: center;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  top: 20vh;
  left: 40%;

}

.container1 .title a {
  color: white;
}

.container1 .title h1 {
  font-size: 50px;
}

svg {
margin: 20px;
}

ul.middle {
  border: none none none none;
  display: block;
  color: white;
  list-style: none;
  float: right;
}

  .navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

.navbar a {
  margin-right: 10px;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
}

.navbar h1 {
  float: left;
  padding-top: 20px;
}
.anime ul {
  list-style: none;
  float: left;
}
.first {
  margin-left: 10px;
}

.navbar ul, .first ul, .second ul, .third ul {
  list-style: none;
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li a, .container1 .title a {
  display: block;
  padding: 20px;
  text-align: center;
}

.navbar ul li a:hover, 
.navbar ul li a.current {
  background: rgb(110, 107, 107, 0.4);
  color: white;
}

button.message {
  border-radius: 50%;
  right: 20px;
  bottom: 50px;
  position: fixed;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  background-color: white;
  z-index: 10;
}

.footer1 {
  width: 60vw;
  height: 7vh;
  background-color: transparent;
  position: absolute;
  bottom: 4vh;
  left: 25vw;
  animation-name: example-movement;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.first {
  margin-right: 40px;
  float: left;
}
.second {
  margin-right: 40px;
  float: left;
}
.third {
  margin-right: 100px;
  float: left;
}

.footer1 button {
  font-size: larger;
  color: white;
  margin-left: 70px;
  background-color: transparent;
  border: 4px solid white;
  padding: 10px 50px;
  float: left;
}

.big {
  font-size: xx-large;
  font-weight: bold;
}
.side-navbar {
  position: absolute;
  top: 40vh;
  left: 5vw;
}

.side-navbar ul {
  
  list-style: none;
}
.side-navbar ul li {
  font-size: 20px;
}
.side-navbar ul a.model-3 {
  color: transparent;
  text-decoration: none;
}
.side-navbar ul a.safety {
  color: transparent;
  text-decoration: none;
}
.side-navbar ul a.performance {
  color: transparent;
  text-decoration: none;
}

.side-navbar ul a.model-3:hover {
  color: white;
  font-size: small;
  
}
.side-navbar ul a.safety:hover {
  color: white;
  font-size: small;
}
.side-navbar ul a.performance:hover {
  color: white;
  font-size: small;
}

.main {
  font-weight: bold;
  width: 300px;
  height: 400px;
  color: black;
  position: absolute;
  top: 20px;
  right: 30px;

}
.footer2 {
  color: black;
  width: 40vw;
  height: 8vh;
  background-color: transparent;
  position: absolute;
  bottom: 4vh;
  right: 10vw;
  
}

.footer2 .btn2 {
  font-size: larger;
  color: black;
  margin-left: 70px;
  background-color: transparent;
  border: 4px solid black;
  padding: 15px 50px;
  float: right;
}
.footer2 .btn1 {
  font-size: larger;
  color: black;
  margin-left: 70px;
  background-color: transparent;
  border: 4px solid black;
  padding: 15px 15px;
  float: left;
}
.footer2 .btn1_1 {
  font-size: larger;
  color: black;
  margin-left: 70px;
  background-color: transparent;
  padding: 15px 15px;
  float: left;
  border-style: none;
}

.footer2 a {
  font-weight: bold;
  margin-left: 40px;
  color: black;
  text-decoration: none;
}

.btn1 {

  font-weight: bold;
  border-radius: 50%;
}
.btn1 a {
  text-decoration: none;
  color: black;
}

.container3 {
  position: relative;
}

.container3 .main3 {
  position: absolute;
  width: 80vw;
  height: 20vh;
  background-color: transparent;
  z-index: 3;
  top: 65vh;
  
  bottom: 7vh;
  left: 25vw;
}
.container3 .main3 .amine {
}

.container3 .main3 .first {
  width: 10vw;
  text-align: center;
  margin-right: 40px;
  float: left;
}
.container3 .main3 .second {
  width: 10vw;
  text-align: center;
  margin-right: 40px;
  float: left;
}
.container3 .main3 .third {
  width: 10vw;
  text-align: center;
  margin-right: 100px;
  float: left;
}

.footer3 {
  color: black;
  width: 100%;
  height: 20vh;
  background-color: white;
  position: absolute;
  bottom: 0;

}

.footer3 .btn2 {
  font-size: larger;
  color: black;
  margin-left: 70px;
  background-color: transparent;
  border: 4px solid black;
  padding: 15px 50px;
  float: right;
  z-index: 5;
}
.footer3 .btn1 {
  font-size: larger;
  color: black;
  margin-left: 70px;
  background-color: transparent;
  border: 4px solid black;
  padding: 15px 15px;
  float: left;
}

.footer3 .btn1_1 {
  font-size: larger;
  color: black;
  margin-left: 70px;
  background-color: transparent;
  padding: 15px 15px;
  float: left;
  border-style: none;
}
.left {
  float: left;
  padding-top: 40px;
  padding-left: 100px;
}

.footer3 .right {
  text-align: center;
  width: 40vw;
  float: right;
  padding-right: 100px;
  padding-top: 40px;
}

.footer3 .left a {
  font-weight: bold;
  margin: 40px;

  color: black;
  text-decoration: none;
}

.info {
  position: relative;
}


@keyframes example {
  from {height: 0px; background-color: white;}
  to {height: 200px; background-color: black;}
}
@keyframes example-ul {
  from {color: transparent;}
  to {color: black;}
}

@keyframes example-movement {
  from {height: 0vh;}
  to {height: 7vh;}
}

.info .up {
  position: absolute;
  width: 2px;
  height: 200px;
  background-color: #333;
  left: 50%;
  top: 4vh;
  border-left:black;
  border-width: 3px;
  color: black;
  text-decoration: none;
  padding-left: 10px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.info .up ul li {
  animation-name: example-ul;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.info .left ul li {
  animation-name: example-ul;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.info .bottom ul li {
  animation-name: example-ul;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.info .left {
  position: absolute;
  width: 2px;
  height: 200px;
  background-color: #333;
  left: 20%;
  top: 40vh;
  border-left:black;
  border-width: 3px;
  color: black;
  text-decoration: none;
  padding-left: 10px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.info .bottom {
  position: absolute;
  width: 2px;
  height: 200px;
  background-color: #333;
  left: 50%;
  top: 70vh;
  border-left:black;
  border-width: 3px;
  color: black;
  text-decoration: none;
  padding-left: 10px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.info li{
  list-style: none;
  text-decoration: none;
}
.info .left {
  position: absolute;
  width: 5px;
  height: 200px;
  background-color: #333;
}
.info .bottom {
  position: absolute;
  width: 5px;
  height: 200px;
  background-color: #333;
}

@keyframes example-speedometer{
  0% {
      transform: rotate(-90deg);
  }
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(90deg);
  }
}

.tcl-badge-speedometer__dial {
  width: 50px;
  height: 50px;
  position: relative;
  /* margin: 0 auto;
  top: 40vh; */
  z-index: 10;
}
.tcl-badge-speedometer__inner-circle-wrapper {
  width: 50px;
  height: 50px;
}
.tcl-badge-speedometer__needle {
  width: 20px;
  height: 20px;
}
.tcl-badge-speedometer__dial svg.tcl-badge-speedometer__outer-circle {
  fill: white;
  position: absolute;
  margin: 0 auto;
  /* top: 10vh; */
}
.tcl-badge-speedometer__dial .tcl-badge-speedometer__inner-circle-wrapper svg.tcl-badge-speedometer__inner-circle {
  fill: #7c7e85;
  position: absolute;
  margin: 0 auto;
  /* top: 10vh; */
  opacity: 0.2;
  
}
.tcl-badge-speedometer__dial svg.tcl-badge-speedometer__needle {
  fill: white;
  position: absolute;
  margin: 0 auto;
  /* top: 11vh; */
  bottom: 20px;
  left: 15px;
  animation-name: example-speedometer;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes example-text {
  from {content: counter(num);}
  to {content: counter(num);}
}
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.footer1 .first ul li.big {
  transition: --num 0.25s;
  counter-set: num var(--num);
  animation-name: example-text;
  /* animation-duration: 6s;
  animation-iteration-count: infinite; */
}

@keyframes example-counter {
  from {top: -400px;}
  to {top: 0;}
}

.num-container {
  position: relative;
  background-color: transparent;
  width:60px;
  height: 30px;
  top: 0;
  overflow: hidden;
  
}

.num-container .num-left{
  position: absolute;
  width: 20px;
  height: 400px;
  background-color: transparent;
  animation-name: example-counter;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.num-dot,
.num-container .seconds
{
  position: absolute;
  top: 0;
  width: 10px;
  height: 30px;
  background-color: transparent;
  left: 20px;
  color: black;
  font-size: 20px;
  text-align: center;
}
.num-container .seconds {
  position: absolute;
  left: 50px;
  top: 8px;
  color: white;
}
.num-container .num-dot label {
  position: absolute;
  left: 20%;
  top: 1px;
  font-size: 1.8rem;
  color: white;
}
.num-container .num-right{
  position: absolute;
  width: 20px;
  height: 900px;
  background-color: transparent;
  left: 30px;
  animation-name: example-counter;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.num-container .num-left .one,
.num-container .num-left .two,
.num-container .num-left .three,
.num-container .num-left .four,
.num-container .num-left .five,
.num-container .num-right .one,
.num-container .num-right .two,
.num-container .num-right .three,
.num-container .num-right .four,
.num-container .num-right .five,
.num-container .num-right .six,
.num-container .num-right .seven,
.num-container .num-right .eight,
.num-container .num-right .nine{
  text-align: center;
  font-size: 1.8rem;
}

