* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
}

.container1 {
    width: 100vw;
    height: 100vh;
    background: url(/img/model3_01.jpg) center center/cover;
}

.container2 {
    width: 100vw;
    height: 100vh;
    background: url(/img/model3_02.jpg) center center/cover;
}

.container3 {
    width: 100vw;
    height: 100vh;
    background: url(/img/model3_03.jpg) center center/cover;
}

nav.navbar {
    width: 100vw;
    height: 7vh;
    background-color: #333;
}