* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
}

.container1 {
    width: 100vw;
    height: 100vh;
    background: url(./model3_01.jpg) center center/cover;
}